aiogram
sqlalchemy[asyncio]
asyncpg
psycopg2-binary
alembic
python-dotenv
pydantic-settings
validators
apscheduler
aiosqlite
beautifulsoup4
lxml
fastapi
uvicorn
psutil
PyPDF2
aiohttp
openai
pydub
yoomoney
telethon
httpx
aiofiles
